@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

:root {
    --light-gray: #dfdfdfcc;
    --light: #FCFFE7;
    --blue: #2B3467;
    --sky-blue: #BAD7E9;
    --red: #EB455F;
    --opacity: rgba(0, 0, 0, 0.651);

}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.editor {
    background-color: var(--light);
    width: 100%;
    height: 90%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: .5rem;
}

.editor__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    background-color: var(--blue);
    position: relative;
    overflow: hidden;
}

.editor__file {
    width: 80%;
    height: 20%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    color: var(--light);
    transition: all .5s;
}



.editor__picture {
    width: 100%;
    height: 100%;
}

.editor__file>p {
    margin-left: 1rem;
    text-align: center;
    font-weight: 500;
}

.editor__file>input {
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.editor__file:hover {
    background-color: var(--light);
    color: var(--blue);
}

.editor__options {
    padding: .3rem;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: var(--sky-blue);
}

.editor__options :nth-child(2) {
    margin: 0 1.5rem;
}

.editor__options>i {
    color: var(--blue);
    cursor: pointer;
    font-size: 1.2rem;
    padding: .7rem;
    border-radius: 5px;
    transition: all .5s;
}

.editor__options>i:hover {
    background-color: var(--red);
}

.editor__tools {
    width: 100%;
    height: 30%;
    background-color: var(--light-gray);
}

.editor__tools>i {
    cursor: pointer;
}

.editor__close__image {
    font-size: 1.6rem;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    color: var(--red);
    z-index: 9;
}

.editor__close__image:hover {
    transform: rotate(90deg);
    transition: all .5s;
}

.drag__over::before {
    content: 'Drop here';
    background-color: var(--sky-blue);
    color: var(--blue);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed var(--blue);
}

.modal__error {
    width: 80%;
    height: 40%;
    background-color: var(--light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: var(--blue);
    border-radius: 5px;
    z-index: 9;
}


.fa-face-frown {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.modal__error>* {
    color: var(--blue);
}


.opacity__filter::before {
    content: '';
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity);

}

.editor__resize__image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.editor__rotate__controls__image {
    display: flex;
}

.editor__arrow__button{
    background-color: var(--blue);
    color: var(--light);
    padding: 10px 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.editor__filter__button{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: var(--light);
    border-radius: 5px;
    cursor: pointer;

}

.editor__brightness__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.editor__brightness__image > p{
    color: var(--blue);
}

.editor__arrow__button:hover,
.editor__filter__button:hover {
    transform: scale(1.1);
}


.fa-arrow-rotate-right {
    margin: 0 1rem;
}

.flip__horizontal__image {
    transform: scaleX(-1);
}

.editor__filters {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;
    padding: 1rem 2rem;
}

.editor__filters :first-child {
    grid-column: 1/4;
}

.editor__filters__selectintensity {
    color: var(--blue);
    text-align: center;
}

#filter-intensity {
    width: 100%;
}


.fa-reply {
    text-align: center;
    font-size: 1.1rem;
    grid-column: 4/5;
}

.d-none {
    display: none;
}

.active__select__image__animation {
    animation-name: select-image-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes select-image-animation {
    25% {
        background-color: var(--light);
        color: var(--blue);

    }

    50% {
        background-color: var(--red);
        color: var(--light);

    }

    75% {
        background-color: var(--light);
        color: var(--blue);
    }

    100% {
        background-color: var(--red);
        color: var(--light);

    }
}